APP_NAME="Bride Future Foundation"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://bff.org.bd

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=bff_production
DB_USERNAME=bff_user
DB_PASSWORD=secure_password_here
